@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  background-color: #f6d198;
  margin: 0;
}

.nav-bar {
  background-color: #413c69;
  overflow: hidden;
}

.nav-link-title {
  float: left;
  color: white;

  padding: 15px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Great Vibes", cursive;
}

.nav-link-1 {
  margin-top: 10px;
  margin-left: 2%;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link-1:hover {
  background-color: #a4b494;
  color: black;
}
.nav-link {
  margin-top: 10px;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover {
  background-color: #a4b494;
  color: black;
}

.nav-profile {
  margin-top: 10px;
  margin-left: 20%;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-profile:hover {
  background-color: #a4b494;
  color: black;
}

.nav-link-2 {
  margin-top: 10px;

  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link-2:hover {
  background-color: #a4b494;
  color: black;
}

.contactus {
  margin-top: 100px;
  margin-left: 350px;

  box-sizing: border-box;
  background-color: #ff5f40;
  width: 550px;
  height: 200px;
}
.contact {
  padding: 20px;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-icon {
  margin-right: 20px;
}
.contact-heading {
  padding-left: 100px;
}

.login-page {
  margin-top: 100px;
  margin-left: 500px;

  height: 250px;
  width: 300px;

  border-radius: 2rem;

  background-color: yellowgreen;
}

.login-heading {
  padding-top: 20px;
  margin-left: 100px;
}
.login-remember {
  margin-left: 80px;
}
.login-form {
  padding-top: 10px;
}
.login-form input[type="text"] {
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 50px;

  border: 0;
}
.login-form input[type="text"]:focus {
  outline: none;
}

.login-form input[type="password"] {
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px 10px;

  margin-left: 50px;

  border: 0;
}
.login-form input[type="password"]:focus {
  outline: none;
}

.login-form input[type="submit"] {
  margin-left: 100px;
  cursor: pointer;
}
th,
td {
  padding: 10px;
  text-align: left;
}

td {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #6a5acd;
}

th {
  background-color: #663399;
  color: white;
}

button {
  background-color: #708090;
  padding: 5px 5px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  color: #fff;
}
button:focus {
  outline: none;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"] {
  background-color: #6a5acd;
  border-radius: 8px;
  padding: 5px 10px;
  color: #fff;
  border: 0;
}

input[type="submit"]:focus {
  outline: none;
}
input[type="reset"]:focus {
  outline: none;
}

input[type="reset"] {
  background-color: #6a5acd;
  border-radius: 8px;
  padding: 5px 10px;
  color: #fff;
  border: 0;
}
.add {
  background-color: #e84a5f;
  border-radius: 8px;
  padding: 5px 10px;
}

.delete-icon {
  cursor: pointer;
  color: #dd2c00;
  margin-left: 20px;
}

.profile {
  margin-top: -18%;
}

.profile-icon {
  margin-left: 60%;
  color: #e8505b;
}
.customer-show-edit {
  margin-top: 20px;
  margin-left: 0;
}

.customer-icon {
  margin-top: -5%;
}
.customer-show-delete {
  margin-top: 20px;
  margin-left: 50px;
  color: #900d0d;
  cursor: pointer;
}
.customer-show-back {
  margin-top: 20px;
  margin-left: 50px;
}
.customer-edit {
  margin-top: 20px;
  margin-left: 50px;
}
.customer-edit-heading {
  margin-top: 50px;
  margin-left: 70px;
}

.customer-show {
  border-color: darkblue;
  border-radius: 2rem;
  border-width: medium;
  background-color: #ec823a;
  padding: 10px 50px;

  text-align: left;

  margin-top: 50px;
  margin-left: 80px;

  font-size: 1.1rem;

  width: 250px;
  height: 270px;
}

.form-1 input[type="text"] {
  width: 180px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 8px;
  border: none;
  padding: 15px;
}
.form-1 input[type="text"]:focus {
  outline: none;
}

.form-1 {
  background-color: #ff5f40;
  width: 300px;
  height: 280px;

  padding-left: 30px;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form-1 input[type="submit"] {
  width: 50%;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 1.2rem;
}
.form-2 input[type="text"] {
  border-radius: 8px;
  padding: 5px;
  border: none;
}
.form-2 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form-2 input[type="text"]:focus {
  outline: none;
}

.customer-list {
  margin-top: 50px;
  margin-left: 100px;
}
.add-customer {
  margin-top: 20px;
  margin-left: 80px;
}
.add-customer-heading {
  margin-top: 50px;
  margin-left: 70px;
}

.depepartment-edit {
  margin-left: 10px;
  cursor: pointer;
}
.depepartment-delete {
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.dep-update-icon {
  margin-left: 10px;
  color: black;
  cursor: pointer;
}
.dep-cancel-icon {
  margin-left: 20px;
  color: #c70039;

  cursor: pointer;
}
.department-list {
  margin-top: 20px;
  margin-left: 100px;
}

.employees-list {
  margin-top: 50px;
  margin-left: 100px;
}

.employees-add {
  margin-top: 50px;
  margin-left: 180px;
}
.form-3 {
  background-color: #ff5f40;
  width: 350px;
  height: 350px;

  margin-left: 100px;

  padding-left: 30px;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-3 input[type="text"] {
  width: 60%;
  height: 15%;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1.1rem;
  box-sizing: border-box;
  border: none;

  border-radius: 8px;
}

.form-3 input[type="email"] {
  width: 58%;
  height: 13%;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
}
.employees-select {
  width: 30%;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1.1rem;
  border-radius: 8px;
}

.form-3 input[type="submit"] {
  width: 50%;

  margin-left: 50px;
  margin-top: 40px;
  font-size: 1.1rem;
  border-radius: 8px;
}
.form-3 input[type="text"]:focus {
  outline: none;
}
.form-3 input[type="email"]:focus {
  outline: none;
}

.ticket-list {
  margin-left: 10px;
}

.form-4 {
  position: fixed;
  margin-top: -230px;
  margin-left: 75%;

  padding-top: 5px;
  padding-left: 30px;

  background-color: #cdb30c;
  width: 250px;
  height: 350px;

  border-radius: 8px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.ticke-delete-icon {
  margin-left: 15px;
  color: #e84a5f;
  cursor: pointer;
}
.ticket-select {
  box-sizing: border-box;
  border-radius: 4px;
}
.ticket-select:focus {
  outline: none;
}

.form-4 input[type="submit"] {
  margin-top: 10px;
}

.form-4 input[type="reset"] {
  margin-top: 10px;
}

.footer-1 {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 11%;
}
.footer-2 {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 32%;
}
.footer-3 {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 52%;
}
.footer-4 {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 72%;
}

.slide-image {
  width: 20%;
  height: 372px;

  float: left;
}

@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: 0;
  }
}

.slide {
  position: relative;
  width: 500%;
  animation: slide 20s infinite;
}

.slideshow-container {
  overflow: hidden;
}
